<ion-view title="addVisitPlan" class="crm-add">
    
    <div class="bar bar-header crm-add-top">
      <div class="h1 title">新增拜访计划</div>
      <span>保存</span>
    </div>

    <div class="list m-top crm-add-part">
      <label class="item-input">
        <span class="input-label col col-50">客户</span>
        <input type="text" class="col col-50">
      </label>
      <label class="item-input">
        <span class="input-label col col-50">客户联系人</span>
        <input type="text" class="col col-50">
      </label>
      <label class="item-input">
        <span class="input-label col col-50">客户联系人电话</span>
        <input type="text" class="col col-50">
      </label>
    </div>
  
</ion-view>