<ion-view title="customerIndex" class="crm-customer">

    <i class=" crm-img-left ion-chevron-left"></i>

    <div class="crm-customer-details">
        <div class="crm-img-bg"></div>
        
        <div class="crm-customer-info">
            <img src="../style/img/defaultCompany.png" class="crm-customer-logo">
            <p>魅族科技有限公司</p>
            <div class="crm-customer-tags">
                <div>
                    <i class="crm-tag-elc"></i>
                    300万千瓦时
                </div>
                <div>
                    <i class="crm-tag-sczt"></i>
                    市场主体
                </div>
                <div>
                    <i class="crm-tag-place"></i>
                    珠海北产业园
                </div>
            </div>
        </div>

        <div class="crm-customer-part">
          <div class="crm-customer-pTop"> 
              <span>跟踪记录</span>
          </div>
          <div class="crm-customer-pContent">
              <div class="crm-dlc-date">
                  <span>3月28日</span>
              </div>
              <div class="crm-dlc-img"></div>
              <div class="crm-dlc-content">
                  <p></p>
                  <div>
                      <span>
                  </div>
              </div>
          </div>
        </div>
    </div>
    
    
</ion-view>