<ion-view title="Home">
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title title-center">home!</h1>
        <div class="buttons">
            <button class="button">NEXT</button>
        </div>
    </ion-header-bar>

    <ion-content>
       ererq hello World!11315sddwwew
    </ion-content>

    <div class="tabs tabs-icon-top">
      <a class="tab-item">
        <i class="icon ion-home"></i>
        Home
      </a>
      <a class="tab-item">
        <i class="icon ion-star"></i>
        Favorites
      </a>
      <a class="tab-item">
        <i class="icon ion-gear-a"></i>
        Settings
      </a>
    </div>
</ion-view>